<title>The Carbon Market Authority</title>
<table style="width: 100%; height: 100%; background-color: #000000; border-color: #000000; margin-left: auto; margin-right: auto;">
<tbody>
<tr>
<td>
<h1 style="text-align: center;"><span style="color: #795f8c;">The Carbon Market Authority</span></h1>
<hr />
<table style="width: 30%; background-color: #441866; border-color: #918996; margin-left: auto; margin-right: auto;">
<tbody>
<tr>
<td style="width: 92%; background-color: #795f8c; text-align: center;" colspan="2"><strong><span style="color: #000000;">Market Information</span></strong></td>
</tr>
<tr>
<td style="background-color: #6900ab;"><span style="color: #b0b0b0;">Tokens Left</span></td>
<td style="width: 52.6512%;"><span style="color: #ffffff;">{{ availableSupply }} CT</span></td>
</tr>
<tr>
<td style="background-color: #6900ab;"><span style="color: #b0b0b0;">Price Per Token</span></td>
<td style="width: 52.6512%;"><span style="color: #ffffff;">{{ price }} ETH</span></td>
</tr>
<tr>
<td style="background-color: #6900ab;"><span style="color: #b0b0b0;">Days to Expiry</span></td>
<td style="width: 52.6512%;"><span style="color: #ffffff;">{{ limit }}</span></td>
</tr>
</tbody>
</table>
<hr />
<p style="text-align: center;"><span style="color: #999999;"><a style="color: #999999;" href="/setmarket">Set Market Price and Supply</a></span><br /><span style="color: #999999;"> <a style="color: #999999;" href="/entities">View Registered Entities</a></span></p>
</td>
</tr>
</tbody>
</table>