<title>Sell Tokens</title>
<table style="border-color: #000000; background-color: #000000; width: 100%; height: 100%; margin-left: auto; margin-right: auto;">
<tbody>
<tr>
<td style="text-align: center;">
<h1><span style="color: #795f8c;">Sell Carbon Tokens</span></h1>
<form action="" method="post" novalidate=""><span style="color: #999999;">{{ form.hidden_tag() }}</span>
<p><span style="color: #999999;">{{ form.amount.label }}:&nbsp;</span><span style="color: #999999;">{{ form.amount(size=32) }}</span></p>
<p><span style="color: #ffffff;">{{ form.submit() }} <span style="color: #999999;"><a style="color: #999999;" href="/terminal">Go Back</a></span></span></p>
</form></td>
</tr>
</tbody>
</table>