<title>The Carbon Market - Terminal</title>
<table style="width: 100%; height: 100%; background-color: #000000; border-color: #000000; margin-left: auto; margin-right: auto;">
<tbody>
<tr>
<td>
<h1 style="text-align: center;"><span style="color: #795f8c;">The Carbon Market</span></h1>
<hr />
<table style="background-color: #441866; border-color: #918996; margin-left: auto; margin-right: auto;">
<tbody>
<tr>
<td style="background-color: #795f8c; text-align: center;" colspan="2"><span style="color: #000000;"><strong>Market Information</strong></span></td>
</tr>
<tr>
<td style="background-color: #6900ab;"><span style="color: #b0b0b0;">Tokens Left</span></td>
<td><span style="color: #ffffff;">{{ availableSupply }} CT</span></td>
</tr>
<tr>
<td style="background-color: #6900ab;"><span style="color: #b0b0b0;">Price Per Token</span></td>
<td><span style="color: #ffffff;">{{ price }} ETH</span></td>
</tr>
</tbody>
</table>
<hr />
<table style="margin-left: auto; margin-right: auto; border-color: #918996; background-color: #441866;">
<tbody>
<tr>
<td style="background-color: #795f8c; text-align: center;" colspan="2"><span style="color: #000000;"><strong>User Account Details</strong></span></td>
</tr>
<tr>
<td style="background-color: #6900ab;"><span style="color: #b0b0b0;">User Name</span></td>
<td><span style="color: #ffffff;">{{ name }}</span></td>
</tr>
<tr>
<td style="background-color: #6900ab;"><span style="color: #b0b0b0;">Ethereum Address</span></td>
<td><span style="color: #ffffff;">{{ etheraccount }}</span></td>
</tr>
<tr>
<td style="background-color: #6900ab;"><span style="color: #b0b0b0;">Ether Balance</span></td>
<td><span style="color: #ffffff;">{{ etherbal }} ETH</span></td>
</tr>
<tr>
<td style="background-color: #6900ab;"><span style="color: #b0b0b0;">Carbon Token Balance</span></td>
<td><span style="color: #ffffff;">{{ balance }} CT</span></td>
</tr>
<tr>
<td style="background-color: #6900ab;"><span style="color: #b0b0b0;">Time Till Token Expiry</span></td>
<td><span style="color: #ffffff;">{{ daysleft }} day(s), {{ hoursleft }} hour(s), {{ minsleft }} minute(s), {{ secsleft }} sec(s)</span></td>
</tr>
<tr>
<td style="background-color: #6900ab;"><span style="color: #b0b0b0;">Sale Status</span></td>
<td><span style="color: #ffffff;">{{ sale_status }}</span></td>
</tr>
</tbody>
</table>
<hr />
<p style="text-align: center;"><span style="color: #999999;"><a style="color: #999999;" href="/buy">Buy Tokens</a></span><br /><span style="color: #999999;"> <a style="color: #999999;" href="/sell">Sell Tokens</a></span><br /><span style="color: #999999;"> <a style="color: #999999;" href="/donate">Donate Tokens</a></span><br /><span style="color: #999999;"><a style="color: #999999;" href="/terminal">Update</a></span><br /><span style="color: #999999;"> <a style="color: #999999;" href="/">Back to Home</a></span><br /></p>
</td>
</tr>
</tbody>
</table>